@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Saira:ital,wght@0,300;0,500;0,600;0,700;1,400;1,500&display=swap');

.paper{
  background-color: #F7E9A1;
  max-width: 1200px;
  margin: 50px auto 20px auto;
  padding: 30px;
  border-width: 3px;
  border-style: solid;
  border-color: #CC3000;
}

body{
  background-color: #E5B25D;
}

h1, h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  color: maroon
}

h1{
  text-align: center;
  font-size: 40pt;
  font-weight: 700;
  margin: 0;
}
h2{
  text-align: center;
  font-size: 28pt;
  font-weight: 700;
  text-decoration: underline;
}
h3{
  text-align: center;
  font-size: 20pt;
  font-wight: 400;
  text-decoration: underline;
}
*{
  font-family: 'Saira', sans-serif;
  color: #E24E1B;
  font-size: 12pt;
}

.dish-price{
  color: red;
  font-weight: 700;
  text-align: center;
  margin-top: 0px
}

.dish-title{
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px
}

.dish{
  margin-bottom: 10px
}
header{
  border-bottom-color: #E24E1B;
  border-bottom-style: solid;
  border-bottom-width: 4px;
}

section{
  padding: 15px 15px;
  margin: 20px 10px 25px;
}
a{
  text-align: left;
  padding: 15px
}
